<app-nav></app-nav>
<!-- control sec -->
<section id="controled" class="controled" (search)="getCuntrySearched($event)">
  <input
    type="search"
    name="search"
    id="country_search"
    placeholder=" 🔍 Search for a country..."
  />
  <select name="" id="selector" (change)="selectRegion($event)">
    <option value="0" selected>Filter by Region</option>
    <option value="{{ item }}" *ngFor="let item of region">
      {{ item }}
    </option>
  </select>
</section>
<!--end control sec -->
<!-- start card -->
<section id="card" class="container">
  <figure
    *ngFor="let country of countries"
    id="card_Cntry"
    (click)="getCuntryDetail(country.name.common)"
    [routerLink]="['/detail', country.name.common]"
  >
    <img [src]="country.flags.png" alt="{{ country.name.common }}" />
    <figcaption>
      <h2 class="country_name">{{ country.name.common }}</h2>
      <p class="p_Population">
        Population:
        <!-- toLocaleString() display numbers with commas separating every three digits. -->
        <span class="s_Population">{{
          country.population.toLocaleString()
        }}</span>
      </p>
      <p class="p_Region">
        Region: <span class="s_Region">{{ country.region }}</span>
      </p>
      <p class="p_Capital">
        Capital: <span class="s_Capital">{{ country.capital }}</span>
      </p>
    </figcaption>
  </figure>
</section>
<!-- end card -->
<app-footer></app-footer>
