/* Variables */
:root {
  /* Light Mode Text */
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  /* Light Mode Input */
  --Dark-Gray: hsl(0, 0%, 52%);
  /* Light Mode Background */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements nav, card*/
  --White: hsl(0, 0%, 100%);
  --WhiteT: hsl(207, 26%, 17%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito Sans;
  src: url(/assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
  /* src: url(../); */
}

html {
  font-size: 16px;
  font-family: Nunito Sans;
  /* color: var(--WhiteT); */
}
.dark {
  /* Dark Mode Elements nav , card Dark-Blue*/
  --White: hsl(209, 23%, 22%);
  /* Dark Mode Background Very-Dark-Blue */
  --Very-Light-Gray: hsl(207, 26%, 17%);
  /* --WhiteT: hsl(0, 0%, 100%); */
  color: var(--WhiteT);
}

input::placeholder,
textarea::placeholder {
  user-select: none;
}
select option {
  user-select: none;
}

#country_search,
#selector {
  box-shadow: 0 0px 5px #f8f5f5;
  border: 1px solid #f8f5f5;
}

.controled input[type="search"] {
  border-radius: 10px;
  margin: 25px;
  border: none;
  box-shadow: 0 10px 10px var(--Very-Light-Gray);
  outline: none;
  padding: 20px;
  width: 90%;
  height: 70px;
}

.controled input[type="search"]::placeholder {
  color: var(--Dark-Gray);
  font-size: 1.2rem;
  margin: 0 20px;
}

.controled select {
  border-radius: 10px;
  margin: 25px;
  border: none;
  box-shadow: 0 10px 10px var(--Very-Light-Gray);
  outline: none;
  padding: 15px;
  height: 70px;
  width: 50%;
  font-size: 1.2rem;
}

figure {
  background-color: var(--White);
  border-radius: 10px;
  width: 70%;
  margin: 50px auto;
  box-shadow: 0 10px 10px var(--Very-Light-Gray);
}

figure > img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
figure > figcaption {
  padding: 20px;
  text-align: left;
}
figure > figcaption h2 {
  margin-bottom: 20px;
  font-weight: 800;
}
figure > figcaption p {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 576px) {
  .container {
    width: 520px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
  }
  .controled {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .controled input[type="search"] {
    width: 70%;
  }
  .controled select {
    width: 30%;
  }
  /* #card {

  } */
  figure {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  figure {
    width: 22%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}
